<div class="container allCustomers-container">
  <a mat-raised-button color="primary" routerLink="/customer">Add</a>
</div>
<div class="container allCustomers-container">
  <table mat-table [dataSource]="allCustomersSource" class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.status">check</mat-icon>
        <mat-icon *ngIf="!element.status">cancel</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef>Creation Date</th>
      <td mat-cell *matCellDef="let element">{{element.creationDate | formatDate}}</td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedDate">
      <th mat-header-cell *matHeaderCellDef>Last Modified Date</th>
      <td mat-cell *matCellDef=" let element">{{element.lastModifiedDate | formatDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Edit&nbsp;&nbsp;&nbsp;Delete</th>
      <td mat-cell *matCellDef="let element"><a
          routerLink="/customer/{{element.id}}"><mat-icon>edit</mat-icon></a>&nbsp;&nbsp;&nbsp;
        <a href="#" (click)='delete(element.id)'><mat-icon>delete_forever</mat-icon></a>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>